'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Overrides'
      'submenu': [
        {
          'label': 'Open Your Overrides'
          'command': 'overrides:open-user-overrides'
        }
      ]
    ]
  }
]
