'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Overrides'
      'submenu': [
        {
          'label': 'Copy Current Grammar Scope'
          'command': 'overrides:copy-grammar-scope'
        }
      ]
    ]
  }
]
